/* basic reset */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* app */
html {
    font-size: 100%;
}

body {
    background: #b1f6cb;
    background-image: url(congruent_pentagon.png);
    font-family: 'Open Sans',sans-serif;
}

::-webkit-input-placeholder {
    color: lightgrey;
}
::-moz-placeholder {
    color: lightgrey;
}
::-ms-input-placeholder {
    color: lightgrey;
}
input:-moz-placeholder {
    color: lightgrey;
}

.container {
    width: 600px;
    margin: 0 auto;
    background: #ffffff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
            box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.row {
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    clear: both;
    overflow: hidden;
}

.content {
    background: #fff;
}

h1 {
    color: #303030;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

.inputContainer {
    height: 50px;
    border-top: 1px solid #e5e5e5;
    position: relative; 
}

.inputContainer.last {
    border-bottom: 1px solid #e5e5e5;
}

input[type="date"], input[type="text"] {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    vertical-align: middle;
    display: inline-block;
    border: none;
    border-radius: none;
    font-size: 13px;
    color: #777;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

input[type="date"]:focus, input[type="text"]:focus {
    outline: none;
    background: #ecf0f1;
}

::-webkit-input-placeholder {
    font-weight: normal;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

::-moz-input-placeholder {
    font-weight: normal;
    transition: all 0.3s;
}

input:focus::-webkit-input-placeholder {
    color: #95a5a6;
    font-weight: bold;
}

input:focus::-moz-input-placeholder {
    color: #95a5a6;
    font-weight: bold;
}

button {
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: 1px solid;
    border-radius: 2px;
    outline: none;
    height: 50px;
    width: 150px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

.taskAdd {
    background: #34495e;
    border-color: #34495e;
}

.taskAdd:hover {
    background: #2c3e50;
}

.taskDelete {
    background: #e74c3c;
    border-color: #e74c3c;
}

.taskDelete:hover {
    background: #c0392b;
    border-color: #c0392b;
}

.taskList {
    list-style: none;
    padding: 0 20px;
}

.taskItem {
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
    color: #777;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.taskList .taskItem:nth-child(even) {
    background: #fcfcfc;
}

.taskCheckbox {
    margin-right: 1em;
}

.complete-true {
    text-decoration:  line-through;
    color: #bebebe;
}

.taskList .taskDate {
    color: #95a5a6;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-left: 43px
}

/* custom checkboxes */
.taskCheckbox {
    -webkit-appearance: none;
            appearance: none;
    background: #fafafa;
    border: 1px solid #cacece;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}

.taskCheckbox:active, .taskCheckbox:checked:active {
    background: #fafafa;
}

.taskCheckbox:checked {
    background: #90d6ab;
    border-color: #90d6ab;
    color: #ffffff;
}

.taskCheckbox:checked:after {
    content: '\2713';
    font-size: 2em;
    position: absolute;
    top: -10px;
    left: 0px;
    color: #446553;
    z-index: 10;
}

.taskCheckbox:focus {
    outline: none;
}

